<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carga de productos</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-teal-400">
    <!-- url('/img/hero-pattern.svg') -->
    <div class="flex min-h-screen bg-white">
      <div
        class="w-1/2 bg-cover md:block hidden"
        style="
          background-image: url(https://i.pinimg.com/564x/25/a4/52/25a45222e7842fe9ff2d95a7073326de.jpg);
        "
      ></div>
      <!-- <div class="bg-no-repeat bg-right bg-cover max-w-max max-h-8 h-12 overflow-hidden">
            <img src="log_in.webp" alt="hey">
        </div> -->

      <div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
        <div class="text-left p-0 font-sans">
          <h1 class="text-gray-800 text-4xl font-medium mb-2"> Carga de Productos </h1>
          <h3 class="p-1 text-gray-700">
            Ya no te preocupes por correr a comprar, contas con el control
            automático de stock
          </h3>
        </div>
        <form action="{{url_for('producto') }}" class="p-0">
          <div class="mt-5">
            <label for="email" class="sc-bqyKva ePvcBv"> Nombre del producto </label>
            <input
              name = "nombre"
              type="producto"
              class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent"
            />
          </div>
          <div class="mt-5">
            <label for="email" class="sc-bqyKva ePvcBv"> Cantidad </label>
            <input
              name = "cantidad"
              type="cantidad"
              class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent"
            />
          </div>
          <div class="mt-5">
            <label for="email" class="sc-bqyKva ePvcBv"> Nombre del proveedor </label>
            <input
              name = "proveedor"
              type="proveedor"
              class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent"
            />
            <div class="mt-5">
            <label for="email" class="sc-bqyKva ePvcBv"> Costo del producto </label>
              <input
                name = "costo"
                type="costo"
                class="block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent"
              />
            </div>
          </div>

          <div class="mt-10 flex justify-center">
            <input
              type="submit"
              value="Cargar al almacen"
              class="py-4 px-8 rounded-full  text-white    bg-cyan-700   hover:bg-teal-500   font-bold" onclick="alert('Se ha cargado el producto correctamente!')"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
